<ion-header>
    <ion-toolbar>
        <ion-buttons (click)="voltar()" slot="start">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title>questoes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-label>Materia</ion-label>
        <ion-select [(ngModel)]="questoes.idmat">
            <ion-select-option *ngFor="let materia of materias" value="{{materia.id}}">{{ materia.nome }}</ion-select-option>
        </ion-select>
        <ion-label>Conteúdo</ion-label>
        <ion-select [(ngModel)]="questoes.idconteudo">
            <ion-select-option *ngFor="let conteudo of conteudos" value="{{conteudo.id}}">{{ conteudo.nome }}</ion-select-option>
        </ion-select>

        <ion-item>
            <ion-input type="date" [(ngModel)]="questoes.data " placeholder="data "></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="time" [(ngModel)]="questoes.tempo " placeholder="tempo "></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" [(ngModel)]="questoes.qstc" onchange="calcula()" placeholder="certas "></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" [(ngModel)]="questoes.qste " onchange="calcula()" placeholder="erradas "></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" [(ngModel)]="questoes.qstb " onchange="calcula()" placeholder="brancas "></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" [(ngModel)]="questoes.media " placeholder="media " readonly></ion-input>
        </ion-item>

    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button color="success" (click)="saveQuestoes()" expand="block">
            Salvar Questões
        </ion-button>
    </ion-toolbar>
</ion-footer>