<ion-header>
    <ion-toolbar>
        <ion-button href='/resultado'>
            Resultados
        </ion-button>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="user">
        <h1>Olá , Tudo bem?</h1>
    </div>




    <ion-card class="produto">
        <ion-card-title>
            Conheça nossos produtos!
        </ion-card-title>
    </ion-card>



    <ion-grid>

        <ion-row>
            <ion-col>
                <a href='/tabs/listestudo'>
                    <ion-card class="secoes">

                        <ion-card-content>
                            <ion-icon name="clipboard-outline"></ion-icon>
                            <ion-label>Estudo</ion-label>
                        </ion-card-content>


                    </ion-card>
                </a>
            </ion-col>
            <ion-col>
                <a href='/tabs/listrevisao'>
                    <ion-card class="secoes">
                        <ion-card-content>
                            <ion-icon name="checkbox-outline"></ion-icon>
                            <ion-label>Revisão</ion-label>
                        </ion-card-content>
                    </ion-card>
                </a>
            </ion-col>
            <ion-col>
                <a href='/tabs/listquestoes'>
                    <ion-card class="secoes">
                        <ion-card-content>
                            <ion-icon name="list-outline"></ion-icon>
                            <ion-label>Questoes</ion-label>
                        </ion-card-content>
                    </ion-card>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <a href='/tabs/listsimulado'>
                    <ion-card class="secoes">
                        <ion-card-content>
                            <ion-icon name="reader-outline"></ion-icon>
                            <ion-label>Simulados</ion-label>
                        </ion-card-content>
                    </ion-card>
                </a>
            </ion-col>
            <ion-col>
                <a href='/tabs/listmateria'>
                    <ion-card class="secoes">
                        <ion-card-content>
                            <ion-icon name="reorder-four-outline"></ion-icon>
                            <ion-label>Materias</ion-label>
                        </ion-card-content>
                    </ion-card>
                </a>
            </ion-col>
            <ion-col>
                <a href='/tabs/listconteudo'>
                    <ion-card class="secoes">
                        <ion-card-content>
                            <ion-icon name="reorder-three-outline"></ion-icon>
                            <ion-label>Conteudos</ion-label>
                        </ion-card-content>
                    </ion-card>
                </a>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>